@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  --color-soft-blue: hsl(215, 51%, 70%);
  --color-cyan: hsl(178, 100%, 50%);
  --color-bg-main: hsl(217, 54%, 11%);
  --color-bg-card: hsl(216, 50%, 16%);
  --color-bg-line: hsl(215, 32%, 27%);
  --color-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-bg-main);
  color: var(--color-soft-blue);

  font-family: 'Outfit', sans-serif;
  line-height: 1.5;
}
